/* Poppings Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Header Component */
.header {
  background-color: #1e90ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo a {
  text-decoration: none;
  color: #f5f5f5;
}

.logo:hover {
  background-color: rgba(29, 109, 189, 0.2);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 5px 10px;
}

.logo .logo-ink {
  color: #ffcc33;
}

.nav-links {
  list-style: none;
}

.nav-links .nav-link {
  display: inline;
  margin-right: 15px;
  padding: 10;
}

.nav-links .nav-link:last-child {
  margin-right: 0;
}

.nav-links .nav-link a {
  color: #fff;
  text-decoration: none;
}

.nav-links .nav-link a:hover {
  color: #ffcc33;
  text-decoration: underline;
}

/* Footer Component */
.footer-main {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  height: 300px;
  width: 100%;
  background-color: #125ea0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
