@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.prod-container {
  width: 80%;
  margin: 50px 0;
}

/* Login Page */
.login-container {
  background-color: #f4f7fc;
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-section {
  font-family: 'Open Sans', sans-serif;
  width: 45rem;
  border: 1px solid #e1e4e8;
  background-color: #fff;
  margin: 50px 0 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.form-section .title {
  margin-top: 65px;
  font-size: 2.3rem;
}

.form-main {
  width: 400px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-main input,
button,
.btn,
.btn-links {
  width: 300px;
  height: 45px;
  margin: 10px auto 0;
  border: 1px solid #c2c8d0;
  border-radius: 5px;
}

.form-main input {
  font-family: 'Open Sans', sans-serif;
  padding: 0 15px;
  box-sizing: border-box;
}

.form-main input:focus {
  border: 1px solid #2d83f6;
  outline: none;
  transition: border-color 0.3s;
}

.form-main .toggle-link {
  color: #2d83f6;
  cursor: pointer;
}

button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  color: #fff;
  background-color: #2d83f6;
}

button:hover {
  background-color: #1d6dbd;
}

.form-main .option {
  margin: 40px 0 30px;
  font-size: 14px;
}

.form-main div span {
  color: #2d83f6;
}

.btn-links {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #c2c8d0;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}

.btn-links img {
  height: 21px;
  width: 21px;
  margin: 0 10px 0 15px;
}

.btn-links p {
  font-size: 15px;
}

.btn-links:hover {
  background-color: #f1f1f1;
}

.form-main .btn-links:last-child {
  margin-bottom: 70px;
}

.logout-button {
  background: none;
  border: none;
  color: #2d83f6;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.logout-button:hover {
  color: #1d6dbd;
  text-decoration: underline;
}

/* Home Page */
.homepage-container {
  background-color: #f4f7fc;
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.homepage-container .prod-container {
  width: 80%;
  margin: 50px 0 40px;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.prod-container .page-intro-box {
  background: linear-gradient(to top, #3a5696, #506fab);
  height: 450px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.prod-container .ftd-products-bg {
  background: linear-gradient(to top, #c1cce1, #c1cce1);
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.prod-container .ftd-products-bg .box {
  background-color: #b8c5dc;
  height: 300px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.prod-container .ftd-products-bg .box::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #d3dcef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
